
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Plan de Velocidad de 2 Megas a 30 soles
                    </div>
                    <div class="panel-body">
                        <h5 class="panel-title">Plan economico</h5>
                        <p class="panel-text">es el plan màs basico para una sola persona.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Plan de Velocidad de 4 Megas a 40 soles
                    </div>
                    <div class="panel-body">
                        <h5 class="panel-title">Plan Basico</h5>
                        <p class="panel-text">Ideal para parejas.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Plan de Velocidad de 6 Megas a 50 soles
                    </div>
                    <div class="panel-body">
                        <h5 class="panel-title">Plan Medio</h5>
                        <p class="panel-text">Ideal para hogares.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Plan de Velocidad de 8 Megas a 60 soles
                    </div>
                    <div class="panel-body">
                        <h5 class="panel-title">Plan Premiun</h5>
                        <p class="panel-text">Ideal para todos aquellos que aman la velocidad.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
