@{Layout = null;}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!------ Include the above in your HEAD tag ---------->

<div id="fullscreen_bg" class="fullscreen_bg" />

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">


            <panel class="panel-body">
                <form class="form-signin ">

                    <h1 class="form-signin-heading text-muted">Ingresar</h1>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email" required="" autofocus="">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Contraseña" required="">
                    </div>
                    <p><a href="home/inicio" type="submit" class="btn btn-primary text-center form-control"> Iniciar Sesion</a></p>

                </form>
            </panel>
        </div>
    </div>
</div>
