<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Plan de Velocidad de Internet
                    </div>
                    <div class="panel-body">
                        <h5 class="panel-title">Planes economicos y premiun</h5>
                        <p class="panel-text">Ingresa para obtener mas informacion sobre nuestras velocidades.</p>
                        <a href="~/Internet/Index" class="btn btn-primary">Ir </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Plan de Alquiler de Decos
                    </div>
                    <div class="panel-body">
                        <h5 class="panel-title">Satelital o CatTv</h5>
                        <p class="panel-text">Ingresa para obtener mas informacion sobre los canales que brindamos.</p>
                        <a href="~/Decos/Index" class="btn btn-primary"> Ir </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Plan Internet + Cable
                    </div>
                    <div class="panel-body">
                        <h5 class="panel-title">Combina los dos Servicios</h5>
                        <p class="panel-text">Ingresa y elige el plan que mas se adecue a ti.</p>
                        <a href="~/Duo/Index" class="btn btn-primary">Ir </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Alquiler de Videos
                    </div>
                    <div class="panel-body">
                        <h5 class="panel-title">Mira los estrenos</h5>
                        <p class="panel-text">Ingresa y elige la pelicula que quieras con solo un par de Clik`s.</p>
                        <a href="~/Videos/Index" class="btn btn-primary">Ir </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
