

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-md-6">
                <div class="thumbnail">
                    <img src="~/Content/decoHFC.jpg" alt="DEcos con HFC">
                    <div class="caption">
                        <h3>Lista de Canales con Deco CatTv</h3>
                        <p>Este Deco funciona con el cableado HFC de movistar y tiene un promedio de 240 canales</p>
                        <p><a href="~/Decos/VerLista" class="btn btn-primary" role="button">Ver lista</a> <a href="~/Decos/VerPrecio" class="btn btn-default" role="button">Ver precio</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-md-6">
                <div class="thumbnail">
                    <img src="~/Content/decoSAt.jpg" alt="Decos Satelitales">
                    <div class="caption">
                        <h3>Lista de Canales con Deco DTH</h3>
                        <p>Este Deco funciona con una antena parabolica de Movistar y tiene un promedio de 160 canales </p>
                        <p><a href="#" class="btn btn-primary" role="button">Ver Lista</a> <a href="#" class="btn btn-default" role="button">Ver precio</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-md-6">
                <div class="thumbnail">
                    <img src="~/Content/hboyfox.jpg" alt="HBO y FOX">
                    <div class="caption">
                        <h3>Decos con Paquetes Premiun</h3>
                        <p>Estos Decos tienen los canales Exclusivos HBO y FOX PREMIUN </p>
                        <p><a href="#" class="btn btn-primary" role="button">Ver Lista</a> <a href="#" class="btn btn-default" role="button">Ver precio</a></p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>
