
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VerPrecio</title>
</head>
<body>
    
        <div class="jumbotron">
            <h1>El Precio es de 40 soles </h1>
            <p>Precio que se paga mensual por el alquiler del deco, en caso se necesite instalacion de cableado llamar al 993895282 para mayor informacion </p>
            
        </div>
    
</body>
</html>
