

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <img src="~/Content/duo4megas.jpg" alt="Duo de 4 megas">
                <div class="caption">
                    <h3>Duo de 4 megas mas cable por 70 soles</h3>
                    <p>Este paquete se basa en tener una velocidad regular con un deco de 200 canales</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <img src="~/Content/duo8megas.jpg" alt="Duo de 8 megas">
                <div class="caption">
                    <h3>Duo de 8 megas mas cable por 85 soles</h3>
                    <p>Este paquete contiene una buena velocidad y un deco para disfrutar de las mejores peliculas en HD</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <img src="~/Content/duo8megaspremiun.jpg" alt="Duo de 8 megas  preminun">
                <div class="caption">
                    <h3>Duo de 8 megas mas cable Premiun por 100 soles</h3>
                    <p>Con este paquete tiene la mejor velocidad con un deco que cuenta con todos los canales Premiun mas el paquete Full HD.</p>
                </div>
            </div>
        </div>
    </div>
   
</body>
</html>
